<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:solr="http://www.springframework.org/schema/data/solr"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="  
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd  
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd  
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/data/jpa 
	http://www.springframework.org/schema/data/jpa/spring-jpa-1.2.xsd
	http://www.springframework.org/schema/data/solr 
    http://www.springframework.org/schema/data/solr/spring-solr.xsd"
	default-autowire="byName">
	

	<context:annotation-config />
	
	<!-- Scans within the base package of the application for @Components to 
	configure as beans -->
	<context:component-scan base-package="ca.digitaltango.foodop.sync.loadcnf.reader" />
	<context:component-scan base-package="ca.digitaltango.foodop.service" />


</beans>
